.gymmachine{
    height:400px;
    width:220px;
    border: 2px solid black;
}
.imageofmachine{
    height:250px;
    width: 215px;
    border: 2px solid black;

}
.machinename{
    font-size: 12px;
    font-weight: 800;
}
.description{
    font-size:10px;
    font-weight: 400;
    margin-bottom: 63px;
}
.box{
    display: flex;
    flex-direction: row;
    /* margin-top: 50px; */
}
.box1{
    display: flex;
    /* gap: 40px; */
    /* padding: 60px 40px; */
    background-color: #1a1a1a;
   /* align-content: center; */
   text-align: center;
   font-size: 30px;
   font-weight: 500;
   /* padding-right: 1000px; */
    /* min-height: 100vh; */
    /* justify-content: center; */
    /* align-items: stretch; */
    flex-wrap: wrap;
}
.headline{
    margin-right: 100px;
}

h4{
    background-color: black;
    margin-top: 200px;
}
.btn1{
    width:107px;
    border-radius: 2px;
    background-color: black;
    color: white;
}
.btn1:hover{
    border-color: rgb(15, 238, 254);
}
.btn2{
    width:108px;
    border-radius: 2px;
    background-color: black;
    color: white;
}
.btn2:hover{
    border-color: rgb(255, 0, 0);
}
.nothing{
    color:#1a1a1a;
}