.navbar{
    display:flex;
    flex-direction: row;
    background-color: #EF4444;
    height: 80px;
    position: fixed;

}
.navcell{
    margin-left: 50px;
    height: 50px;
    width: 90px;
    margin-top:15px;
    border-radius: 4px;
}
.navcellA{
    margin-left:85px;
    height: 50px;
    width: 90px;
    margin-top:15px;
    border-radius: 4px;
}
.logo{
    color: #1E293B;
    margin-left: 20px;
}
